<!doctype html>
<html lang="en">
<head>
  <title>{{ page.title }} | Stories | Cleveland Free-Net (tribute site)</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>

<body>

<script>
document.addEventListener('keydown',function(e){
  if (e.key === 'x') {
    window.location.href = '/stories';
  }
});
</script>

<p>
&lt;&lt;&lt; {{ page.title | upcase }} &gt;&gt;&gt;
</p>

<p>
{% if page.subtitle %}
{{ page.subtitle }}<br>
{% endif %}
by {{ page.author }}
</p>

{{ content }}

<br>

<p>
=&gt; x=<a href="/stories">Return to Stories Menu</a>
</p>

</body>
</html>
